@(planetas: List[Planeta])
@main("Catalogo de Planetas") {

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div style="padding:30px;"> 
<h4>TODOS OS PLANETAS</h4>
<a href="/planetas/novo"><button type="button" class="btn btn-primary-outline">Novo</button></a>
<br>
<br>
<div class="table table-responsive col-md-5">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>NOME</th>
				<th>SISTEMA</th>
				<th>HABITAVEL</th>
			</tr>
		</thead>
		<tbody>
		@for(planeta <- planetas) {
			<tr>
				<td>@planeta.id</td>
				<td>@planeta.nome</td>
				<td>@planeta.sistema</td>
				<td>@if(planeta.habitavel == true){<img src="https://eies.s3.amazonaws.com/static/admin/img/icon-yes.gif">}else{ <img src="https://eies.s3.amazonaws.com/static/admin/img/icon-no.gif"> }</td>
				<td><a href="@routes.Planetas.detalhes(planeta.id)"><input type="submit" class="btn btn-primary" value="Editar"></a></td>
				<td><a href="@routes.Planetas.remover(planeta.id)" ><input type="submit" class="btn btn-primary" value="Remover"></a></td>
			</tr>
			
		}
		</tbody>
	</table>
</div>
</div>
}