@(formPlaneta: Form[Planeta], id:Long)
@import meuHelper._
@main("Formulário de Planeta") {
<div style="padding:30px;">
	<h5>Formulário de Planeta</h5>
	@meuHelper.meuForm("planetas", routes.Planetas.salvar(id), "post"){
		<fieldset>
		<legend>Planeta (@formPlaneta("nome").valueOr("Novo"))</legend>
		@meuHelper.inputText("nome", formPlaneta("nome").value, "Nome:")
		@meuHelper.inputText("sistema", formPlaneta("sistema").value, "Sistema Solar:")
		@meuHelper.checkbox("habitavel", formPlaneta("habitavel").value, "Habitavel")
        
		</fieldset>
		<input type="submit" class="btn btn-primary" value="Salvar">
		<a href="@routes.Planetas.lista()"><button type="button" class="btn btn-primary-outline">Cancelar</button></a>
	}
</div>	
}